@import "../../styles/variables.scss";

.container {
  padding: 7.75rem 1.5rem;
  background-image: url("../../assets/bg-masthead.png");
  background-size: cover;

  // SLIDER ARROW PREV

  [class~="swiper-button-prev"] {
    background-color: #fafafa;
    height: 22px;
    width: 22px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    border-radius: 100%;
    display: flex;
    padding: 0 0 0 1px;
    transform: rotate(180deg);

    @include breakpoint(md) {
      height: 36px;
      width: 36px;
    }
  }

  [class~="swiper-button-prev"]:after {
    position: relative;
    display: block;
    content: "";
    height: 6px;
    width: 6px;
    border: 3px solid $colorBlue;
    border-bottom: 0;
    border-left: 0;
    margin: auto;
    padding: 0;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    transform-origin: center;
    transform: rotate(45deg) translate(-15%, 15%);

    @include breakpoint(md) {
      height: 8px;
      width: 8px;
    }
  }

  // SLIDER ARROW NEXT

  [class~="swiper-button-next"] {
    background-color: #fafafa;
    height: 22px;
    width: 22px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    border-radius: 100%;
    display: flex;
    padding: 0 0 0 1px;
    transform: rotate(180deg);

    @include breakpoint(md) {
      height: 36px;
      width: 36px;
    }
  }

  [class~="swiper-button-next"]:after {
    position: relative;
    display: block;
    content: "";
    height: 6px;
    width: 6px;
    border: 3px solid $colorBlue;
    border-bottom: 0;
    border-left: 0;
    margin: auto;
    padding: 0;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    transform-origin: center;
    transform: rotate(226deg) translate(-15%, 15%);

    @include breakpoint(md) {
      height: 8px;
      width: 8px;
    }
  }
}

.SwiperSlider_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  @include breakpoint(md) {
    height: 300px;
    object-fit: contain;
  }
}
