@import "../../styles/variables.scss";

.container {
  padding: 0 1.5rem;
}

.SwiperSlider_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  @include breakpoint(md) {
    height: 300px;
    object-fit: contain;
  }
}

.mySwiper {
  --swiper-navigation-size: 24px;
}
