@import "../../styles/variables.scss";

.container {
  height: calc(15vh - #{$headerHeight});
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 1.5rem 2.5rem;
    background: linear-gradient(220deg, $colorOrange, rgba($colorOrange, 0.5));
    border-radius: $borderRadius calc(#{$borderRadius} * 10);
  }
}
