@import "../../../styles/variables.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 40px 24px 20px;
  background-color: #f8f9fa;

  .Title_contato {
    h1 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.3px;
      margin-bottom: 40px;
      text-align: center;
      color: $colorDark;
      line-height: 120%;

      @include breakpoint(md) {
        font-size: 38px;
      }
    }
  }
}

.contact_form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;

  .container_btn {
    display: flex;
    justify-content: end;

    button {
      padding: 10px 40px;
      border: 1px solid #007bff;
      color: #007bff;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 1px;
      margin: 0 10px;
      transition: 0.2s ease;
    }
  }
}

.form_group {
  input,
  .textarea {
    font-size: 0.75rem;
    width: 100%;
    border: unset;
    border-radius: 18px;
    margin-bottom: 0.625rem;
    min-height: 40px;
    font-weight: 300;
    padding-left: 20px;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
}
