@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// Colors
$colorDark: #252525;
$colorGray: #343a40;
$colorWhite: #ffffff;
$colorBground: #f8f9fa;
$colorOrange: #f05736;
$colorYellow: #ffc107;
$colorBlue: #007bff;

// Spacing
$space-md: 16px;
$space-lg: 32px;

// Border radius
$borderRadius: 8px;

// Header height
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    //  Responsive 768px
    @media (min-width: 48rem) {
      @content;
    }
  }
  @if $point == md1024 {
    //  Responsive 1200px
    @media (min-width: 75rem) {
      @content;
    }
  }
}
